{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ episode.name }}</td>
            </tr>
            <tr>
                <th>Episodenumber</th>
                <td>{{ episode.episodeNumber }}</td>
            </tr>
            <tr>
                <th>Datepublished</th>
                <td>{% if episode.datePublished %}{{ episode.datePublished|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ episode.description }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ episode.imageURL }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
